@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Overlock", sans-serif;
}

body {
    background-image: url(./img/background.jpg);
    background-size: cover;
    color: pink;
}

h1 {
    text-align: center;
    padding-top: 2rem;
    color: pink;
    text-decoration: underline black;
}

.innhold {
    text-align: center;
    padding-top: 2rem;
}

#input {
    width: 150px;
    background: transparent;
    border: 5px solid black;
    border-radius: 5px;
    padding: 1rem;
    color: pink;
}

#input::placeholder {
    color: pink;
}

button {
    width: 150px;
    background: transparent;
    border: 5px solid black;
    border-radius: 5px;
    padding: 1rem;
    color: pink;
    margin-top: 0.5rem;
}

button:hover {
    cursor: pointer;
}

/* Center and style the info section */
.info {
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
    border: 5px solid black;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background to match the theme */
    width: 250px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.info p, .info h2 {
    color: pink;
    margin: 0.5rem 0;
}
